@font-face {
    font-family:Raleway-Bold;
    src: url(../fonts/raleway/raleway-bold.ttf);
}
@font-face {
    font-family:raleway-Light;
    src: url(../fonts/raleway/raleway-Light.ttf);
}




/* ---------------------------common start--------------------------------*/
body{
    margin: 0;
    font-family:'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/*--------------------------common end----------------------------------- */

/*---------------------------- header start -------------------------------- */
header{
    padding: 35px 0px;
   
    /* border: 1px solid red; */
}
.container{
    margin: 0px auto;
    width: 90%;
    /* border: 1px solid red; */
    overflow: hidden;
    
}
.logo{
    width: 11%;
    /* border: 1px solid red; */
    float: left;
    margin-top: 4px;
}
.logo a{
    display: block;
   
}
.logo a img{
    width: 100%;
}
.meno{
    width: 60%;
    /* border: 1px solid rgb(0, 255, 4); */
    float: right;

}
.meno ul{
    margin: 0;
    float: right;
  
}
.meno ul li{
    list-style: none;
    float: left;
}
.meno ul li a{
    display: inline-block;
    margin: 0px 50px;
    padding: 5px 2px;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    transition: .33s;
    border-bottom:transparent;     
}
.meno ul li:last-child a{
    margin-right: 0px;
}
.meno ul li a:hover{
    color: #626262;
    border-bottom: 1px solid red;
}

/*----------------------- header end ------------------------*/

/* -----------------------------start banner-------------------- */
.banner {
    padding: 30px 0px; 
}
.background_img {

}
.background_img img {
    width: 100%;
/* border: 1px solid red; */
}
/*------------------------------ end banner---------------------- */


/*------------------------- message start --------------------------*/
.message{
    padding-top: 80px;
}
.container_2{
    margin: 0px auto;
    width: 80%;
    overflow: hidden;
    /* border: 1px solid red; */
}
.light{
    margin: 0px;
    font-family: 'ubounto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color:#b4ad9e ;
    text-transform: uppercase;
}
.title{
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0px 25px;
}
.text{
    margin: 0px;
    line-height: 24px;
}
.mt_40{
    margin-top:40px;
}
/*--------------------- message end-------------------------- */


/*--------------- blog start ------------*/
.bolg {}
.s_blog {
    margin-top: 80px;
    width: 47%;
    /* border: 1px solid rgb(0, 255, 76); */
    float: left;
    
}
.s_blog:nth-child(even){
    /* background-color: red; */
    margin-left: 6%;
}
.s_img {
    margin-bottom: 30px;
}
.s_img img {
    width: 100%;
}
/*----------- blog end *------------/


/* ----------------------------- newsletter star ---------------------------- */

.news{
    margin-top: 100px;
	padding:70px 0 ;
	background-color: #f0f0f0;

}
.signup {
	text-align: center;
}
.s_h1 {
	color: #333333;
	margin-top:0 ;
	margin-bottom:70px ;
}
.s_form {
	position: relative;
	width: 400px;
/*	border: 5px solid red;*/
	margin: 0 auto;
}
.s_form input{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color:#626262 ;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background: transparent;
	padding-left:5px ;
	padding-right: 45px;
}
.s_form input:focus {
	outline: 0;
}
.s_form button {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button:focus{
	outline: 0;

}

.s_form button img {
	
}

/*---------------newsletter end----------------------*/


/* start load */
.load{
    margin-top: 100px;
    text-align: center;
}
.load button {
    width: 160px;
    height: 60px;
    background-color:transparent;
    border: 1px solid #626262;
    font-family: 'playfair Display', sarif;
    font-weight: 400px;
    font-size: 20px;
    cursor: pointer;
    transition: .33s linear;
}
.load button:hover {
    background-color: #626262;
    color:white
}

    
   
/* end load */

/* start footer */
.footer{
    background-color:#f0f0f0;
    margin-top: 100px;
}
.container_7{
  width: 80%;
    padding:30px 0px 35px;
    margin: 0px auto;
    overflow: hidden;

}
.p_l{
    /* border: 1px solid rgb(0, 255, 119); */
    width: 50%;
    float: left;
}
.p_r{
   /* border: 1px solid gainsboro; */
   width: 40%; 
   float: right;
}
.follow ul{
    float: right;
    cursor: pointer;
}
.follow ul li{
    float: left;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;   
}
.p_p{
    color: black;
   
}
.p_p span {
    padding-left: 20px;
    color: #000000;
}
/* end footer */